<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
  </head>
<body>

<nav class="navbar navbar-dark bg-info justify-content-between">
  <a class="navbar-brand" href="/">Welcome to SELLO!</a>
  <a class="btn btn-outline nav-link" href="/users/<%= session[:user_id]%>">Account</a>
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light nav-link" type="submit">Search</button>
    </form>
  <ul class="navbar-nav">
      <% unless session[:user_id] %>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Log In
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Sign Up
          </a>
        </li>
      <% else %>
        <li class="nav-item">
          <form class="form-inline" method="POST" action="/sessions">
            <input name="_method" type="hidden" value="delete">
            <button type="submit" class="btn btn-outline nav-link">
              Log Out
            </button>
          </form>
        </li>
      <% end %>
    </ul>
</nav>

<div class="wrapper">


<div class="container">
  <br>

  <%= yield %>

</div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>